/* 
    General Styles
*/
#planets {
    color: #fc4b08;
}

#starships {
    color: #ffc340;
}

/* body {
    background-image: url("https://live.staticflickr.com/7827/33639777908_ecb3b102d9_b.jpg");
    background-repeat: repeat;
    background-size: cover;
} */