/* 
    General Styles
*/
#planets {
    color: #fc4b08;
}

#starships {
    color: #ffc340;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/230/968/non_2x/starry-night-sky-free-photo.jpeg");
    background-repeat: repeat;
    background-size: cover;
}